* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    
}

.main {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Black Ops One', cursive;
    font-size: 3rem;
    text-align: center;
}

.score {
    font-family: 'Black Ops One', cursive;
    text-align: right;
}

#weaponsTitle {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 2rem;
}

.weaponsSubTitle {
    text-align: center;
}
.weaponsIcons {
    display: flex;
    width: 80%;
    margin: auto;
    border-style: solid;
}

#resultsHtml {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 2rem;
}

img {
    max-width: 100%;
}

.startgame {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.button {
    text-align: center;
    font-size: 1rem;
    background-color: #e85829;
    border: 1px;
    border-radius: 4px;
    width: 120px;
    min-height: 30px;
}